/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: none;
}



/*1. Global Styles*/



/*2. Typografie*/

h1 {
    font-size: 40px;
}

h3 h1 {
    font-size: 30px;
}

p {
    fon
}
/*3. Areas*/



/*3.1 Header*/



/*3.2 Testimonial*/



/*3.3 Support*/



/*3.4 Faq*/



/*3.5 Footer*/


